.rodape {
    background-color: var(--cor-de-fundo-02);
    font-family: var(--fonte-footer);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.footer_texto {
    color: var(--cor-fonte-02);
    font-size: 1.3rem;
    padding: 2rem;
}

.footer_texto h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.footer_contato  {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem;
}

.footer_contato p {
    color: var(--cor-fonte-02);
    white-space: nowrap;
    font-size: 1.3rem;
}

.footer_contato p i {
    color: var(--cor-fonte-01);
    font-size: 1.8rem;
    padding-right: 1rem;
}

.footer_contato p a {
    color: var(--cor-fonte-02);
    text-decoration: none;
    padding-left: 0.5rem;
}

.footer_contato p a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .rodape {        
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}
@media (max-width: 600px) {
    .footer_contato {
        justify-self: center;
    }
    .footer_contato p {
        font-size: 1rem;
    }
}
