* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(32deg, #d83f02, #970202);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

p a {
    position: absolute;
    top: 1%;
    left: 3%;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    padding: 1rem;
    font-size: 1.2rem;
}

p a:hover {
    text-decoration: underline;
}

.fundo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    background-color: #0000006e;
    padding: 1.2rem;
    border-radius: 0.7rem;
}

.calculadora h1 {
    padding-bottom: 1rem;
}

.resultado {
    background-color: #f7f7f76e;
    color: #000000;
    text-align: end;
    padding: 0.3rem;
    font-size: 1.3rem;
    width: 12.6rem;
    height: 2rem;
    border-radius: 0.2rem;
}

.botao {
    background-color: #0000006e;
    color: white;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 1.3rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    margin: 0.1rem;
}

.botao:hover {
    background-color: #0000001e;
}
