.dark .header {
    background-color: var(--cor-dark-02);
}

.dark .header__titulo {
    color: var(--cor-dark-04);
    text-shadow: 3px 3px 3px var(--cor-dark-05);
}

.dark .header__menu_link {
    background-color: var(--cor-dark-01);
    color: var(--cor-dark-04);
}

.dark .header__menu_link:hover {
    background-color: transparent;
    color: var(--cor-dark-05);
}

@media(max-width: 840px) {
    .dark .header__menu_links {
        background-color: var(--cor-dark-02);
    }
    .dark .header__menu_link {
        background-color: transparent;
        color: var(--cor-dark-04);
    }
    .dark .div_barras.ativo .barra:nth-child(1){
        background-color: var(--cor-dark-05);
    }
    .dark .div_barras.ativo .barra:nth-child(3){
        background-color: var(--cor-dark-05);
    }
}
