.dark .footer {
    background-color: var(--cor-dark-02);
}

.dark .footer__textos {
    background-color: var(--cor-dark-01);
    border-right: 5px solid var(--cor-dark-05);
}

.dark .footer__subtitulo, 
.dark .footer__texto {
    color: var(--cor-dark-04);
}

.dark .footer__subtitulo {
    text-shadow: 3px 3px 3px var(--cor-dark-05);
}

.dark .footer__contato_links {
    background-color: var(--cor-dark-01);
    border-left: 5px solid var(--cor-dark-05);
}

.dark .footer__contato_link {
    color: var(--cor-dark-04);
}

.dark .footer__contato_link_i {
    color: var(--cor-dark-05);
}

.dark .footer__contato_link_a {
    color: var(--cor-dark-04);
    border-right: 2px solid var(--cor-dark-05);
    border-bottom: 2px solid var(--cor-dark-05);
    transition: var(--transicao-04s);
}

.dark .footer__contato_link_a:hover {
    color: var(--cor-dark-05);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

@media(max-width: 840px) {
    .dark .footer {
        border-top: 4px solid var(--cor-dark-05);
        border-bottom: 4px solid var(--cor-dark-05);
    }
    .dark .footer__textos {
        border-right: none;
    }
    .dark .footer__contato_links {
        border-left: none;
    }
}
