.light_footer {
    background-color: var(--cor-de-fundo-light-01);
}

.light_footer .footer__textos {
    background-color: var(--cor-fonte-light-02);
    border-right: 5px solid var(--cor-fonte-light-03);
}

.light_footer .footer__subtitulo, 
.light_footer .footer__texto {
    color: var(--cor-fonte-light-01);
}

.light_footer .footer__subtitulo {
    text-shadow: 3px 3px 3px var(--cor-fonte-light-03);
}

.light_footer .footer__contato_links {
    background-color: var(--cor-fonte-light-02);
    border-left: 5px solid var(--cor-fonte-light-03);
}

.light_footer .footer__contato_link {
    color: var(--cor-fonte-light-01);
}

.light_footer .footer__contato_link_i {
    color: var(--cor-fonte-light-03);
}

.light_footer .footer__contato_link_a {
    color: var(--cor-fonte-light-01);
    border-right: 2px solid var(--cor-fonte-light-03);
    border-bottom: 2px solid var(--cor-fonte-light-03);
    transition: var(--transicao-04s);
}

.light_footer .footer__contato_link_a:hover {
    color: var(--cor-fonte-light-03);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
