.corpo_com__img{
    background-image: url(../img/imagemprincipal.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 90%;
    height: 90%;
}

/*MENU*/

.mapa_01 {
    width: 100%;
    box-shadow: 10px 10px 5px 0 #000000;
}

.mapa_02 {
    width: 38rem;
    box-shadow: 15px 20px 5px 0 #000000;
}

/*CURIOSIDADE*/

.bandeiras {
    width: 6.2rem;
    width: 6.2rem;
}