.light_main .main__biografia_titulo {
    color: var(--cor-fonte-light-01);
}

.light_main .main__biografia_texto {
    color: var(--cor-fonte-light-02);
}

.light_main .main__formacao_titulo {
    background-color: var(--cor-de-fundo-light-01);
    color: var(--cor-fonte-light-01);
    border: 0.2rem solid var(--cor-fonte-light-03);
}

.light_main .main__formacao_link {
    background-color: var(--cor-de-fundo-light-01);
    color: var(--cor-fonte-light-01);
    border: 2px solid var(--cor-fonte-light-02);
}

.light_main .main__formacao_link:hover {
    background-color: var(--cor-de-fundo-light-02);
    color: var(--cor-fonte-light-03);
    border: 2px solid transparent;
}

.light_main .main__formacao_link:active {
    border: 2px solid var(--cor-fonte-light-01);
}

.light_main .main__formacao_certificados {
    background-image: var(--cor-forte-fraca-gradient-light);
}

.light_main .main__formacao_certificado {
    border: solid 3px var(--cor-fonte-light-03);
}

.light_main .main__formacao_certificado_p {
    color: var(--cor-fonte-light-01);
}

.light_main .main__formacao_certificado_h4 {
    color: var(--cor-fonte-light-03);
}

.light_main .main__contato {
    background-image: var(--cor-fraca-forte-gradient-light);
    border: 0.3rem solid var(--cor-fonte-light-03);
}

.light_main .main__contato_titulo {
    color: var(--cor-fonte-light-02);
}

.light_main .main__contato_conteudo_i {
    color: var(--cor-fonte-light-03);
    text-shadow: 3px 3px 3px var(--cor-fonte-light-02);
}

.light_main .main__contato_conteudo_p, 
.light_main .main__contato_conteudo_p_link {
    color: var(--cor-fonte-light-01);
}

.light_main .main__contato_conteudo_p_link {
    border-right: 2px solid var(--cor-fonte-light-03);
    border-bottom: 2px solid var(--cor-fonte-light-03);
    transition: var(--transicao-04s);
}

.light_main .main__contato_conteudo_p_link:hover {
    color: var(--cor-fonte-light-02);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.light_main .main__projeto {
    background-color: var(--cor-de-fundo-light-01);
}


.light_main .main__projeto_titulo {
    background-color: var(--cor-fonte-light-02);
    color: var(--cor-fonte-light-01);
    transition: var(--transicao-06s);
}

.light_main .main__projeto_titulo:hover {
    color: var(--cor-fonte-light-03);
}

.light_main .main__projeto_links {
    background-color: var(--cor-fonte-light-03);
}

.light_main .main__projeto_link_p {
    background-color: var(--cor-de-fundo-light-01);
}

.light_main .main__projeto_link_a {
    background-color: var(--cor-fonte-light-02);
    color: var(--cor-fonte-light-03);
    transition: var(--transicao-04s);
}

.light_main .main__projeto_link_a:hover {
    background-color: transparent;
    color: var(--cor-fonte-light-01);
}

.light_main .main__projeto_link_a:active {
    border: 2px solid var(--cor-fonte-light-01);
}


