.dark .main__biografia_titulo {
    color: var(--cor-dark-03);
}

.dark .main__biografia_texto {
    color: var(--cor-dark-04);
}
@media(max-width: 1200px) {
    .dark .main__biografia {       
        background-image: var(--forte-fraca-gradient-dark);
    }
    .dark .main__biografia_titulo {
        color: var(--cor-dark-03);
    }
    .dark .main__biografia_texto {
        color: var(--cor-dark-04);
    }
}
@media(max-width: 860px) {
    .dark .main__biografia {       
        background-image: var(--fraca-forte-gradient-dark);
    }
    .dark .main__biografia_titulo {
        color: var(--cor-dark-04);
    }
    .dark .main__biografia_texto {
        color: var(--cor-dark-03);
    }
}

.dark .main__formacao_titulo {
    background-color: var(--cor-dark-02);
    color: var(--cor-dark-04);
    border: 0.2rem solid var(--cor-dark-05);
}

.dark .main__formacao_link {
    background-color: var(--cor-dark-02);
    color: var(--cor-dark-04);
    border: 2px solid var(--cor-dark-03);
}

.dark .main__formacao_link:hover {
    background-color: transparent;
    color: var(--cor-dark-05);
    border: 2px solid transparent;
}

.dark .main__formacao_link:active {
    border: 2px solid var(--cor-dark-04);
}

.dark .main__formacao_certificados {
    background-image: var(--fraca-forte-gradient-dark);
}

.dark .main__formacao_certificado {
    border: solid 3px var(--cor-dark-05);
}

.dark .main__formacao_certificado_p {
    color: var(--cor-dark-04);
}

.dark .main__formacao_certificado_h4 {
    color: var(--cor-dark-05);
}
@media(max-width: 1040px) {
    .dark .main__formacao_certificado {
        border: solid 2px var(--cor-dark-04);
    }
}
@media(max-width: 860px) {
    .dark .main__formacao_certificado_p {
        color: var(--cor-dark-04);
    }
}

.dark .main__contato {
    background-image: var(--forte-fraca-gradient-dark);
    border: 0.3rem solid var(--cor-dark-05);
}

.dark .main__contato_titulo {
    color: var(--cor-dark-03);
}

.dark .main__contato_conteudo_i {
    color: var(--cor-dark-05);
    text-shadow: 3px 3px 3px var(--cor-dark-04);
}

.dark .main__contato_conteudo_p, 
.dark .main__contato_conteudo_p_link {
    color: var(--cor-dark-04);
}

.dark .main__contato_conteudo_p_link {
    border-right: 2px solid var(--cor-dark-05);
    border-bottom: 2px solid var(--cor-dark-05);
    transition: var(--transicao-04s);
}

.dark .main__contato_conteudo_p_link:hover {
    color: var(--cor-dark-03);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
@media(max-width: 600px) {
    .dark .main__contato {
        border-right: 0;
        border-left: 0;
    }
}

.dark .main__projeto {
    background-color: var(--cor-dark-02);
}

.dark .main__projeto_titulo {
    background-color: var(--cor-dark-01);
    color: var(--cor-dark-04);
    transition: var(--transicao-06s);
}

.dark .main__projeto_titulo:hover {
    color: var(--cor-dark-05);
}

.dark .main__projeto_links {
    background-color: var(--cor-dark-05);
}

.dark .main__projeto_link_p {
    background-color: var(--cor-dark-02);
}

.dark .main__projeto_link_a {
    background-color: var(--cor-dark-01);
    color: var(--cor-dark-05);
    transition: var(--transicao-04s);
}

.dark .main__projeto_link_a:hover {
    background-color: transparent;
    color: var(--cor-dark-03);
}

.dark .main__projeto_link_a:active {
    border: 2px solid var(--cor-dark-04);
}
@media(max-width: 600px) {
    .dark .main__projeto {
        background-color: var(--cor-dark-05);
    }
    .dark .main__projeto_titulo:hover {
        background-color: var(--cor-dark-01);
        color: var(--cor-dark-04);
        transform: none;
    }
    .dark .main__projeto_links {
        background-color: var(--cor-dark-01);
    }
}
