@import url(./Componentes/Header/header.css);
@import url(./Componentes/Main/main.css);
@import url(./Componentes/Footer/footer.css);

@import url(./Componentes/Dark-Light/dark-light.css);

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --cor-light-01: #333f44;
    --cor-light-02: #708993;
    --cor-light-03: #A1C2BD;
    --cor-light-04: #E7F2EF;
    --cor-light-05: #32ace0;

    --forte-fraca-gradient-light: linear-gradient(var(--cor-light-02) 20%, var(--cor-light-03));
    --fraca-forte-gradient-light: linear-gradient(var(--cor-light-03) 20%, var(--cor-light-02));

    --cor-dark-01: #0e0c0c;
    --cor-dark-02: #171717;
    --cor-dark-03: #a8a29e;
    --cor-dark-04: #f5f5f5;
    --cor-dark-05: #08f5ae;

    --forte-fraca-gradient-dark: linear-gradient(var(--cor-dark-01) 20%, var(--cor-dark-02));
    --fraca-forte-gradient-dark: linear-gradient(var(--cor-dark-02) 20%, var(--cor-dark-01));

    --cor-sol-01: linear-gradient( 140deg, #c00202, #f0560e, #f3ef11);
    --cor-sol-02: #a8ff07;
    --cor-sol-03: #8d5c18;

    --cor-lua-01: linear-gradient( 140deg,#4402c0, #0e1df0, #11f3f3);
    --cor-lua-02: #618eb8;
    --cor-lua-03: #0e467a;

    --transicao-04s: 0.4s;
    --transicao-06s: 0.6s;
    --transicao-08s: 0.8s;

    --fonte-header: 'Quicksand', sans-serif;
    --fonte-main: 'Lato', sans-serif;
    --fonte-footer: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-light-03);
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.removido {
    display: none;
}

@media(max-width: 840px) {
    body {
        position: relative;
        min-height: 100vh;
        margin: 0;
    }
}